body{
    margin: 0px;
    padding: 0px;
}
*{
    font-family: arial;
}
div.maincontent{
    height: 680px;
    background-image: url(https://i.imgur.com/UkdUOOc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        
}

div.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
}
div.joinnavbar{
    background-color: black;
}
div.navbar a {
    color: white;
    margin: 20px;
  
}
div.navbar a.join{ 
   padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    background-color:transparent;
    color: white;
}
div.details {
    padding-top: 150px;
    text-align: center;
    color: white;
}
div.details button {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: white;
    color: turquoise;
}


div.items{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div.second{
    background-color: white
}
div.item{
    border: 2px solid black;
    border-radius: 200px;
    width: 200px;
    height: 100px;
    
    background-color: transparent;
    padding: 30px;
    margin: 20px;
    text-align: center;
    font-family: arial;
}
div.game{
     height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    color: white;
}


div.maingame {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    align-items: center;
    background-color: black;
    color: white;
    padding: 50px;
 border-radius: 50px;
    margin-top: 50px;
    line-height: 20px;
}
div.maingame button{
       padding: 10px;
    border-radius: 8px;
    background-color: aqua;
    color: white;
    border: none;
}
div.maingame img{
    margin-right: -150px;
    border-radius: 20px;
}
div.posts{
  display: flex;
    width: 70%;
    margin: auto;
     justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}
div.post{
    margin: 20px;
    background-color: black;
    color: white;
}
div.post div.img{
    background-image: url(post3.jpg);
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    
}
div.post p{
    font-size: 15px;
}
div.post h3, div.post p, div.post h5{
    padding-right: 10px;
    padding-left: 10px;
}
div.post p, div.post h5{
    display: inline-block;
}
div.tests{
    display: flex;
    width: 50%;
    margin: auto;
     justify-content: space-around;
    align-items: center;
    
    
}
div.test h1{
    text-align: center;
    margin-bottom: 80px;
}
div.testi{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin: 20px;
        
}
div.testi1 div.img{
    background-image: url(boy.png);
    height: 80px;
}
div.testi2 div.img{
    background-image: url(girl.png);
    height: 80px;
    
}
div.testi div.img{
    width: 100px;
    background-color: white;
    height: 100px;
    margin: auto;
    border-radius: 100px;
    margin-top: -50px;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
        
}


.pricing h2{
    text-align: center;
}
.prices{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    text-align: center;
}
.price{
    width: 30%;
    background-color: darkcyan;
    color: white;
    margin: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 8px;
}
.price button{
      padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.planprice{
    background-color: darkblue;
    padding: 15px;
}
.planprice h3{
    margin: 0px;
}

.joinform{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
}
.joinform .form{
    width: 65%;
}
.joinform .image{
    width: 35%;
}
.joinform .image{
    background-image: url(fantasy1.jpg);
    background-size: cover;
    background-position: top;
    height: 400px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form input, form button{
    padding: 10px;
    font-size: 16px;
    border: 1px solid aqua;
    border-radius: 5px;
    display: block;
    margin: 10px;
}  
form{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
form button{
    background-color: blue;
    color: white;
}

.fotter{
    color: white;
    background-color: aqua;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
























